extends navbar

block content
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='public/css/books.css')
    link(rel='stylesheet', href='public/css/books-prologue.css')
    body
    div#main-container
        div#prologue-container
            div#prologue-title Books
            div#books-description 
              Harry Potter is a series of fantasy novels written by British author J. K. Rowling.
              br
              | The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns Harry's struggle against Lord Voldemort, a dark wizard who intends to become immortal, overthrow the wizard governing body known as the Ministry of Magic and subjugate all wizards and Muggles (non-magical people).
              br
              | Since the release of the first novel, Harry Potter and the Philosopher's Stone, on 26 June 1997, the books have found immense popularity, critical acclaim and commercial success worldwide.
            div#record
                p
                  img(src="public/images/icons/pointing-hand.png")
                  | As of February 2018, the books have sold more than 500 million copies worldwide, making them the best-selling book series in history, and have been translated into eighty languages.
            
        div.books-title-container
            p.books-title Seven Novels
            p#description Each novel corresponds to a year-long period of time,
              br
              | usually in reference to Harry Potter's year at Hogwarts School of Witchcraft and Wizardry.
            p#mobile-view-description Click on the book cover so you can read the synopsis!

        div.books-container
            //- first book cover
            div#novel-cover-container
                div.book-cover-content
                    img(src="public/images/books/cover1.jpg" alt="Harry Potter and the Philosopher's Stone")
                    div.content-overlay
                        div.content-text
                          Harry Potter has never even heard of Hogwarts when the letters start dropping on the doormat at number four, Privet Drive. Addressed in green ink on yellowish parchment with a purple seal, they are swiftly confiscated by his grisly aunt and uncle.
                          br 
                          | Then, on Harry's eleventh birthday, a great beetle-eyed giant of a man called Rubeus Hagrid bursts in with some astonishing news: Harry Potter is a wizard, and he has a place at Hogwarts School of Witchcraft and Wizardry.
                          br
                          | An incredible adventure is about to begin!
            //- second book cover
            div#novel-cover-container
                div.book-cover-content
                    img(src="public/images/books/cover2.jpg" alt="Harry Potter and the Chamber of Secrets")
                    div.content-overlay
                        div.content-text Harry Potter's summer has included the worst birthday ever, doomy warnings from a house-elf called Dobby, and rescue from the Dursleys by his friend Ron Weasley in a magical flying car! Back at Hogwarts School of Witchcraft and Wizardry for his second year, Harry hears strange whispers echo through empty corridors - and then the attacks start. Students are found as though turned to stone...
                          br
                          | Dobby's sinister predictions seem to be coming true.
            //- third book cover
            div#novel-cover-container
                div.book-cover-content
                    img(src="public/images/books/cover3.jpg" alt="Harry Potter and the Prisoner of Azkaban")
                    div.content-overlay
                        div.content-text When the Knight Bus crashes through the darkness and screeches to a halt in front of him, it's the start of another far from ordinary year at Hogwarts for Harry Potter.
                          br 
                          | Sirius Black, escaped mass-murderer and follower of Lord Voldemort, is on the run - and they say he is coming after Harry. In his first ever Divination class, Professor Trelawney sees an omen of death in Harry's tea leaves....
                          br
                          | But perhaps most terrifying of all are the Dementors patrolling the school grounds, with their soul-sucking kiss.... 
            //- fourth book cover
            div#novel-cover-container
                div.book-cover-content
                    img(src="public/images/books/cover4.jpg" alt="Harry Potter and the Goblet of Fire")
                    div.content-overlay
                        div.content-text The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition.
                          br
                          | Then at Halloween, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons, and dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!
            //- fifth book cover
            div#novel-cover-container
                div.book-cover-content
                    img(src="public/images/books/cover5.jpg" alt="Harry Potter and the Order of the Phoenix")
                    div.content-overlay
                        div.content-text Dark times have come to Hogwarts. After the Dementors' attack on his cousin Dudley, Harry Potter knows that Voldemort will stop at nothing to find him. There are many who deny the Dark Lord's return, but Harry is not alone: a secret order gathers at Grimmauld Place to fight against the dark forces.
                          br 
                          | Harry must allow Professor Snape to teach him how to protect himself from Voldemort's savage assaults on his mind. But they are growing stronger by the day and Harry is running out of time....
            //- sixth book cover
            div#novel-cover-container
                div.book-cover-content
                    img(src="public/images/books/cover6.jpg" alt="Harry Potter and the Half-Blood Prince")
                    div.content-overlay
                        div.content-text When Dumbledore arrives at Privet Drive one summer night to collect Harry Potter, his wand hand is blackened and shrivelled, but he does not reveal why. Secrets and suspicion are spreading through the wizarding world, and Hogwarts itself is not safe.
                          br
                          | Harry is convinced that Malfoy bears the Dark Mark: there is a Death Eater amongst them. Harry will need powerful magic and true friends as he explores Voldemort's darkest secrets, and Dumbledore prepares him to face his destiny....
            //- seventh book cover
            div#novel-cover-container
                div.book-cover-content
                    img(src="public/images/books/cover7.jpg" alt="Harry Potter and the Deathly Hallows")
                    div.content-overlay
                        div.content-text As he climbs into the sidecar of Hagrid's motorbike and takes to the skies, leaving Privet Drive for the last time, Harry Potter knows that Lord Voldemort and the Death Eaters are not far behind. The protective charm that has kept Harry safe until now is broken, but he cannot keep hiding. The Dark Lord is breathing fear into everything Harry loves and to stop him Harry will have to find and destroy the remaining Horcruxes.
                          br
                          | The final battle must begin - Harry must stand and face his enemy....

        div.books-title-container
            p.books-title Hogwarts Libary
        
        div.books-container
            div#book-cover-container
                div.book-cover-content
                    img(src="public/images/books/beast.jpg" alt="Harry Potter and the Philosopher's Stone")
                    div.content-overlay
                        div.content-text An approved textbook at Hogwarts School of Witchcraft and Wizardry since publication, Newt Scamander's masterpiece has entertained wizarding families through the generations. Fantastic Beasts and Where to Find Them is an indispensable introduction to the magical beasts of the Wizarding World. In this comprehensively updated edition, eagle-eyed readers will spot a number of new beasts and an intriguing new author's note. Scamander's years of travel and research have created a tome of unparalleled importance.
            div#book-cover-container
                div.book-cover-content
                    img(src="public/images/books/quidditch.jpg" alt="Harry Potter and the Chamber of Secrets")
                    div.content-overlay
                        div.content-text A  perennial bestseller in the wizarding world and one of the most popular books in the Hogwarts School library, Quidditch Through the Ages contains all you will ever need to know about the history, the rules – and the breaking of the rules – of the noble sport of Quidditch. Packed with fascinating facts, this definitive guide by the esteemed Quidditch writer Kennilworthy Whisp charts the game's history from its early origins in the medieval mists on Queerditch Marsh, through to the modern-day sport loved by so many wizard and Muggle families around the world.
            div#book-cover-container
                div.book-cover-content
                    img(src="public/images/books/tales.jpg" alt="Harry Potter and the Prisoner of Azkaban")
                    div.content-overlay
                        div.content-text The Tales of Beedle the Bard have been favourite bedtime reading in wizarding households for centuries. Full of magic and trickery, these classic tales both entertain and instruct, and remain as captivating to young wizards today as they were when Beedle first put quill to parchment in the fifteenth century. There are five tales in all: 'The Tale of the Three Brothers' Harry Potter fans will know from Harry Potter and the Deathly Hallows; 'The Fountain of Fair Fortune', 'The Warlock's Hairy Heart', 'The Wizard and the Hopping Pot' and 'Babbitty Rabbitty and her Cackling Stump' complete the collection. 

        div#read-tale-container
            p 
                | The most famous story from The Tales of Beddle the Bard is 
                a(href='three-brothers') The Tale of the Three Brothers  
                |  .
            p While most wizards viewed this story as one that teaches children morals, such as humility and wisdom, others believed that the story refers to the Deathly Hallows, three highly powerful magical artefacts coveted by generations of wizards.
            
            