extends navbar

block content
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='public/css/home.css')
    body
        div#main-container
            div#title-container
                div#text1.title Welcome
                div#text2.title to
                div#text3.title
                    span W
                    span i
                    span z
                    span a
                    span r
                    span d
                    span i
                    span n
                    span g
                div#text4.title
                    span W
                    span o
                    span r
                    span l
                    span d
        div#contact-container
            div#contact Build and designed by 
                a(href='https://github.com/jzsofiaa') Zsófia Jakab
