@import url('https://fonts.googleapis.com/css?family=Quattrocento|ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none; 
}

html {
  background-image: url("/public/images/backgrounds/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  overflow: hidden;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.title {
  color: white;
}

#text1 {
  font-size: 4rem;
  opacity: 0;
  font-family: 'Quattrocento', serif;
  letter-spacing: 0.4rem;
  animation: text1-animation 1s linear forwards;
}

@keyframes text1-animation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#text2 {
  font-size: 2.8rem;
  font-family: 'Quattrocento', serif;
  opacity: 0;
  margin-top: 0.5rem;
  animation: text2-animation 1s linear forwards;
  animation-delay: 1s;
}

@keyframes text2-animation {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#text3, #text4{
  font-family: 'ZCOOL XiaoWei', serif;
  text-transform: uppercase;
}

#text3 {
  margin-top: 1.5rem;
  font-size: 5rem;
  letter-spacing: -0.2rem;
}

#text4 {
  font-size: 6rem;
  letter-spacing: -0.5rem;
}

#text3 span {
  opacity: 0;
  display: inline-block;
  animation: text3-animation 1s linear forwards;
}

@keyframes text3-animation {
  0%{
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

#text4 span {
  opacity: 0;
  display: inline-block;
  animation: text4-animation 1s linear forwards;
}

@keyframes text4-animation {
  0%{
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

#text3 span:nth-child(1) {
  animation-delay: 1.1s;
}

#text3 span:nth-child(2) {
  animation-delay: 1.2s;
}

#text3 span:nth-child(3) {
  animation-delay: 1.3s;
}

#text3 span:nth-child(4) {
  animation-delay: 1.4s;
}

#text3 span:nth-child(5) {
  animation-delay: 1.5s;
}

#text3 span:nth-child(6) {
  animation-delay: 1.6s;
}

#text3 span:nth-child(7) {
  animation-delay: 1.7s;
}

#text3 span:nth-child(8) {
  animation-delay: 1.8s;
}

#text3 span:nth-child(9) {
  animation-delay: 1.9s;
}

#text4 span:nth-child(1) {
  animation-delay: 2s;
}

#text4 span:nth-child(2) {
  animation-delay: 2.1s;
}

#text4 span:nth-child(3) {
  animation-delay: 2.2s;
}

#text4 span:nth-child(4) {
  animation-delay: 2.3s;
}

#text4 span:nth-child(5) {
  animation-delay: 2.4s;
}

#contact-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

#contact {
    font-size: 0.95rem;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

#contact a {
    cursor: pointer;
    text-decoration: none;
    color: 	#5b5a94;
}

#contact a:hover {
  font-weight: bold;
}


@media (min-width: 320px) and (max-width: 480px) {
  html {
    background-image: none;
    background-color:#322386;
  }

  #title-container {
    height: 70vh;
  }

  #text1 {
    font-size: 3rem;
  }

  #text2 {
    font-size: 1.8rem;
  }

  #text3 {
    font-size: 4rem;
  }

  #text4 {
    font-size: 5rem;
  }

  #contact-container {
    margin-top: 4rem;
  }

  #contact a {
    color: 	#a69ec3;
  }
}

@media (min-width: 482px) and (max-width: 767px){
  #text1 {
    font-size: 3rem;
  }

  #text2 {
    font-size: 1.8rem;
  }

  #text3 {
    font-size: 4rem;
  }

  #text4 {
    font-size: 5rem;
  }
}

@media (min-width: 666px) and (max-width: 668px){
  #title-container {
    height: 60vh;
  }

  #text1 {
    font-size: 2rem;
  }

  #text2 {
    font-size: 1.5rem;
  }

  #text3 {
    font-size: 3rem;
  }

  #text4 {
    font-size: 4rem;
  }
}

@media (min-width: 683px) and (max-width: 685px){
  #title-container {
    height: 60vh;
  }

  #text1 {
    font-size: 2rem;
  }

  #text2 {
    font-size: 1.5rem;
  }

  #text3 {
    font-size: 3.5rem;
  }

  #text4 {
    font-size: 4.5rem;
  }
}

@media (min-width: 733px) and (max-width: 737px){
  #title-container {
    height: 60vh;
  }

  #text1 {
    font-size: 2rem;
  }

  #text2 {
    font-size: 1.3rem;
  }

  #text3 {
    font-size: 3rem;
  }

  #text4 {
    font-size: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 769px) {
  html {
   background-image: none;
   background-color: 	#322386;
  }
  #contact a {
    color: #b1aacb;
  }
}

@media (min-width: 1440px) {
  #text1 {
    font-size: 6rem;
  }

  #text2 {
    font-size: 3.8rem;
  }

  #text3 {
    font-size: 7rem;
  }

  #text4 {
    font-size: 8rem;
  }

  #contact-container {
    margin-top: 4rem;
  }
}
